PORT=5000
CLIENT_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=ashborn1212
DB_NAME=green_grounds_cafe
JWT_SECRET=green-grounds-cafe-secret-key-change-this
NODE_ENV=development
